<div class="card mb-1">
  <div class="card-body">
    <strong><%= comment.user.surname %>: <%= new DateTime(comment.createdAt).toRelativeCalendar() %></strong>
    <p><%= comment.content %></p>
  </div>
</div>
