<div class="container-fluid">
  <% if (posts.length <=0) { %>
    <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center p-2">
      <h2 class="title font-weight-bolder">No Post</h2>
    </div>
    <% } else { %>
      <div class="row p-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% for( let page=0; page < pagination.totalPages; page++ ) { %>
              <li class="page-item <%= page === pagination.currentPage ? 'active' : '' %>">
                <a class="page-link js-pagination-link" href="/post/list?page=<%= page %>">
                  <%= page + 1 %>
                </a>
              </li>
              <% } %>
          </ul>
          <div>
            <% for(const post of posts) { %>
              <%- include('post_card', {post}) %>
            <% } %>
          </div>
        </nav>
      </div>
      <% } %>
</div>

<script>
  function getPostList(link = null) {
    const postList = $('#post-list-form')
    $(postList).html(`<div class="spinner-border text-center p-2 text-primary" role="status">
    <span class="sr-only"></span>
  </div>
  `)
    $.get(link || '/post/list').done(data => {
      $(postList).html(data)
    })
  }

  $('.js-pagination-link').each(function (key, el) {
    $(el).on('click', function (e) {
      e.preventDefault()
      getPostList(e.target.getAttribute('href'))
    })
  })
</script>